.button-1 {
  background-color: #81f4e1;
  padding: 40px 90px 40px 90px;
  font-family: 'Aleo', serif;
  color: white;
  font-size: 3vw;
  text-align: center;
  border:0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 300px;
  width: 500px;
}
